.plastic_item {
  @apply absolute block w-2 h-2 md:w-4 md:h-2 bg-slate-200 rounded-sm opacity-0;
  animation: fadeout 10s linear infinite normal forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(20px) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translateY(112px) translateX(110px) rotate(160deg);
  }
  50% {
    opacity: 1;
    transform: translateY(112px) translateX(155px) rotate(380deg);
  }
  75% {
    transform: translateY(165px) translateX(190px) rotate(380deg);
  }
  100% {
    opacity: 0;
    transform: translateY(165px) translateX(190px) rotate(380deg);
  }
}
@media (min-width: 576px) {
  @keyframes fadeout {
    0% {
      opacity: 1;
      transform: translateY(0) translateX(17px) rotate(0deg);
    }
    25% {
      opacity: 1;
      transform: translateY(105px) translateX(50px) rotate(160deg);
    }
    50% {
      opacity: 1;
      transform: translateY(105px) translateX(210px) rotate(380deg);
    }
    75% {
      transform: translateY(150px) translateX(260px) rotate(380deg);
    }
    100% {
      opacity: 0;
      transform: translateY(150px) translateX(260px) rotate(380deg);
    }
  }
}
@media (min-width: 768px) {
  @keyframes fadeout {
    0% {
      opacity: 1;
      transform: translateY(10px) translateX(30px) rotate(0deg);
    }
    25% {
      opacity: 1;
      transform: translateY(155px) translateX(70px) rotate(160deg);
    }
    50% {
      opacity: 1;
      transform: translateY(155px) translateX(290px) rotate(380deg);
    }
    75% {
      transform: translateY(200px) translateX(340px) rotate(380deg);
    }
    100% {
      opacity: 0;
      transform: translateY(200px) translateX(340px) rotate(380deg);
    }
  }
}
@media (min-width: 992px) {
  @keyframes fadeout {
    0% {
      opacity: 0;
      transform: translateY(0) translateX(20px) rotate(0deg);
    }
    25% {
      opacity: 1;
      transform: translateY(190px) translateX(100px) rotate(160deg);
    }
    50% {
      opacity: 1;
      transform: translateY(190px) translateX(380px) rotate(380deg);
    }
    75% {
      transform: translateY(250px) translateX(450px) rotate(380deg);
    }
    100% {
      opacity: 0;
      transform: translateY(250px) translateX(450px) rotate(380deg);
    }
  }
}
@media (min-width: 1200px) {
  @keyframes fadeout {
    0% {
      opacity: 0;
      transform: translateY(0) translateX(10px) rotate(0deg);
    }
    25% {
      opacity: 1;
      transform: translateY(185px) translateX(150px) rotate(160deg);
    }
    50% {
      opacity: 1;
      transform: translateY(185px) translateX(380px) rotate(380deg);
    }
    75% {
      opacity: 1;
      transform: translateY(250px) translateX(440px) rotate(380deg);
    }
    100% {
      opacity: 0;
      transform: translateY(250px) translateX(440px) rotate(380deg);
    }
  }
}
@media (min-width: 1420px) {
  @keyframes fadeout {
    0% {
      opacity: 0;
      transform: translateY(0) rotate(0deg);
    }
    25% {
      opacity: 1;
      transform: translateY(190px) translateX(100px) rotate(160deg);
    }
    50% {
      opacity: 1;
      transform: translateY(190px) translateX(600px) rotate(380deg);
    }
    75% {
      opacity: 1;
      transform: translateY(250px) translateX(750px) rotate(380deg);
    }
    100% {
      opacity: 0;
      transform: translateY(250px) translateX(750px) rotate(380deg);
    }
  }
}
@media (min-width: 1620px) {
  @keyframes fadeout {
    0% {
      opacity: 0;
      transform: translateY(0) rotate(0deg);
    }
    25% {
      opacity: 1;
      transform: translateY(190px) translateX(100px) rotate(160deg);
    }
    50% {
      opacity: 1;
      transform: translateY(190px) translateX(600px) rotate(380deg);
    }
    75% {
      opacity: 1;
      transform: translateY(250px) translateX(750px) rotate(380deg);
    }
    100% {
      opacity: 0;
      transform: translateY(250px) translateX(750px) rotate(380deg);
    }
  }
}/*# sourceMappingURL=Plastiitems.module.css.map */